@charset "UTF-8";

*{
	padding:0;
	margin:0;
}

body{
	font-size:16px;
	position:relative;
}

h1{
	font-size:2rem;
}

section article.main div.article-container{
	position:absolute;
	top:20rem;
	left:5%;
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-content:flex-start;
}

section article.main img{
	width:500px;
}



section article.main div.article{
	border:0;
}

section article.main div.article table{
	border:transparent;
	border-collapse:collapse;
	border-radius:20px;
	width:800px;
	margin-left:10%;
	margin-right:10%;
}


section article.main div.article table tr{
	border-top-style:0;
	border-bottom:2px solid dodgerblue;
	border-left-style:0;
	border-right-style:0;
}
section article.main div.article table tr:hover{
	background:yellow;
}
section article.main div.article table tr th{
	border-top-style:0;
	border-bottom-style:0;
	border-left-style:0;
	border-right:2px solid dodgerblue;
	background:pink;
	color:white;
	text-shadow:0 0 10px black;
	line-height:2;
}

section article.main div.article table tr td{
	line-height:2;
	padding-left:10px;
}


section article.main div.article-container div.reply-container div.reply-content{
	width:1100px;
	margin-top:5rem;
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;
}

section article.main div.article-container div.reply-container div.reply-content label{
	font-weight:bold;
	font-size:1rem;
}

section article.main div.article-container div.reply-container div.reply-content input[type=text]{
	width:300px;
	height:2rem;
	margin-bottom:.5rem;
	border-radius:30px;
	border:3px solid pink;
}
section article.main div.article-container div.reply-container div.reply-content textarea{
	width:900px;
}
section article.main div.article-container div.reply-container div.reply-content input[type=submit]{
	width:180px;
	padding:10px;
	background-color:dodgerblue;
	border-radius:20px;
	font-weight:bold;
	color:white;
}


section article.main div.article-container div.reply-container div.attach-apply-content{
	margin-top:1rem;
	background-color:rgba(129, 236, 236,.5);
	width:80rem;
}

section article.main div.article-container div.reply-container div.attach-apply-content div.reply-content-container div.rpContent{
	padding:10px;
}

section article.main div.article-container div.reply-container div.attach-apply-content div.specific-btns{
	display:flex;
	justify-content:flex-end;
	align-items:flex-start;
}

section article.main div.article-container div.reply-container div.attach-apply-content div.specific-btns input[type=button]{
	margin-right:.5rem;
	padding-right:10px;
	background-color:transparent;
	color:dodgerblue;
	font-weight:bold;
	text-shadow:0 0 10px white;
	border-top:0;
	border-bottom:0;
	border-left:0;
	border-right:2px solid dodgerblue;
}